*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
header{
    background-color: grey;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 3;
}
.navbar{
    display: flex;
    align-items: center;   
    height: inherit;
}
.navlist{
    display: flex;
    list-style: none;
    position: relative;
    left: 100px;
    height: inherit;
}
.navlist li{
    color: white;
}
.navbar img{
    position: relative;
    left: 30px;
    width: 70px;
    height: 70px;
}
.navlist a{
    margin: 1em;
    padding: 1em;
    text-decoration: none;
}
.navlist a li:hover{
    color: black;
}
section{
    width: 100vw;
    height: 400px;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/22/21/02/food-2879265_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: auto;
}
section div{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.heading{
    text-decoration: underline;
    font-size: 32px;
    font-style: italic;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services h2{
    margin: 30px 40px 0px 40px;
}
.items{
    display: flex;
    width: 100vw;
}
.subitem{
    border: 4px solid red;
    border-radius: 15px;
    width: 400px;
    height: 380px;
    margin: 60px 50px;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#item-1::before{
    content: "";
    width: 10em;
    height: 8em;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/05/19/02/hamburger-1238246_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#item-2::before{
    content: "";
    width: 150px;
    height: 120px;
    background-image: url("https://media.istockphoto.com/id/1303091718/photo/kerala-vegetarian-foods-dosa-with-curries.jpg?b=1&s=170667a&w=0&k=20&c=V2Td7iWPMFyfpiAa_pmnEPAgPWSaZY8c2QM_1ksjdP0=");
    background-repeat: no-repeat;
    background-size: cover;
}
#delivery_service::before{
    content: "";
    width: 150px;
    height: 120px;
    background-image: url("https://cdn.pixabay.com/photo/2020/05/25/08/40/food-delivery-5217579_640.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100vw;
    height: 300px;
}
.about h2{
    margin: 5px;
    padding: 5px;
}
.clientlogo{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 50px;
    padding: 5px;
}
.about::before{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: inherit;
    background-image: url("https://cdn.pixabay.com/photo/2020/06/19/18/42/background-5318436_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
}
.about img{
    width: 100px;
    height: 100px;
    margin: 4px;
    padding: 4px;
}
.contactus{
    width: 100vw;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactus::before{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: inherit;
    background-image: url("https://cdn.pixabay.com/photo/2021/09/08/05/39/communication-6605648_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;

}
.contactus h2{
    margin: 10px;
}
.contactus form{
    width: 30vw;
    margin: 20px;
    padding: 10px;

}
.contactus form input{
    width: inherit;
    height: 25px;
    border-radius: 7px;
    overflow: auto;
}
.contactus form button{
    width: inherit;
    height: 35px;
    background-color: coral;
    border-radius: 7px;
    margin: 15px 0px;
}
.contactus input[name = "msg"]{
    height: 50px;
}
@media (max-width: 1550px) {
    .items{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 350px) {
      .subitem::before{
        position: relative;
        top: 20px;
        width: 100px;
        height: 90px;
    }
    .heading{
        font-size: 16px;
    }
    form input{
        font-size: 10px;
    }
}
@media (max-width:700px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar img{
        top: 10px;
        left: 0px;
        height: 65px;
    }
    .navlist{
        left: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .navlist li{
        color: white;
    }
    main{
        position: relative;
        top: 125px;
    }
    .contactus form{
        width: 60vw;
    }
}
@media (max-width:500px) {
    .navlist a{
        margin: 0.3em;
        padding: 0.5em;
    }
    .about img{
        width: 50px;
        height: 50px;
    }
}